body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
}

button {
    padding: 8px 8px;
    border-radius: 8px;
    font-weight: bold;
    background-color: grey;
    color: whitesmoke;
    font-size: large;
    margin: 2px;
}

.top-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.main-header-text {
    display: flex;
    text-align: center;
    color: purple;
    font-size: 50px;
    margin: auto;
}

.full-calc {
    display: flex;
    flex-direction: column;
}

.calc-display {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    display: flex;
    width: 300px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    align-self: center;
    margin: auto;
}

.calculator-keys {
    display: flex;
    flex-direction: column;
    margin: auto;
}



.numbers {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: auto;
    justify-content: center;
}

.sum_back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sum {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
}

.back {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
}
